// 
// 
// Font
// 
// 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body, input, select, option, button, textarea {
    font-family: 'Inter', sans-serif;
}
// 
// 
// List
// 
// 
ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}
// 
// 
// common class
// 
// 
button {
    background-color: transparent;
}
.btn {
    font-size: 1rem;
    border: .0625rem solid #000;
    border-radius: 50%;
    padding: $gt--sm;
    cursor: pointer;
}
// 
// 
// input
// 
// 
input, textarea, select {
    border: none;
}
// 
// 
// common class
// 
// 
.overflod-y--auto {
    overflow-y: auto;
    height: 5rem;
   width:20rem;
}

.alert {
    color: red;
}
// 
// 
// animation
// 
// 

@-webkit-keyframes spinner {
    0% { 
       -webkit-transform: rotate3d(1, 1, 1, 0deg);
	   -ms-transform: rotate3d(1, 1, 1, 0deg);
	   -o-transform: rotate3d(1, 1, 1, 0deg);
	   transform: rotate3d(1, 1, 1, 0deg);
    }
    50% { 
       -webkit-transform: rotate3d(1, 1, 1, 180deg);
	   -ms-transform: rotate3d(1, 1, 1, 180deg);
	   -o-transform: rotate3d(1, 1, 1, 180deg);
	   transform: rotate3d(1, 1, 1, 180deg);
    }
    100% { 
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
	   -ms-transform: rotate3d(1, 1, 1, 360deg);
	   -o-transform: rotate3d(1, 1, 1, 360deg);
	   transform: rotate3d(1, 1, 1, 360deg);
    }
}

@-moz-keyframes spinner{
    0% { 
       -webkit-transform: rotate3d(1, 1, 1, 0deg);
	   -ms-transform: rotate3d(1, 1, 1, 0deg);
	   -o-transform: rotate3d(1, 1, 1, 0deg);
	   transform: rotate3d(1, 1, 1, 0deg);
    }
    50% { 
       -webkit-transform: rotate3d(1, 1, 1, 180deg);
	   -ms-transform: rotate3d(1, 1, 1, 180deg);
	   -o-transform: rotate3d(1, 1, 1, 180deg);
	   transform: rotate3d(1, 1, 1, 180deg);
    }
    100% { 
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
	   -ms-transform: rotate3d(1, 1, 1, 360deg);
	   -o-transform: rotate3d(1, 1, 1, 360deg);
	   transform: rotate3d(1, 1, 1, 360deg);
    }
}

@-ms-keyframes spinner{
    0% { 
       -webkit-transform: rotate3d(1, 1, 1, 0deg);
	   -ms-transform: rotate3d(1, 1, 1, 0deg);
	   -o-transform: rotate3d(1, 1, 1, 0deg);
	   transform: rotate3d(1, 1, 1, 0deg);
    }
    50% { 
       -webkit-transform: rotate3d(1, 1, 1, 180deg);
	   -ms-transform: rotate3d(1, 1, 1, 180deg);
	   -o-transform: rotate3d(1, 1, 1, 180deg);
	   transform: rotate3d(1, 1, 1, 180deg);
    }
    100% { 
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
	   -ms-transform: rotate3d(1, 1, 1, 360deg);
	   -o-transform: rotate3d(1, 1, 1, 360deg);
	   transform: rotate3d(1, 1, 1, 360deg);
    }
}

@-o-keyframes spinner{
    0% { 
       -webkit-transform: rotate3d(1, 1, 1, 0deg);
	   -ms-transform: rotate3d(1, 1, 1, 0deg);
	   -o-transform: rotate3d(1, 1, 1, 0deg);
	   transform: rotate3d(1, 1, 1, 0deg);
    }
    50% { 
       -webkit-transform: rotate3d(1, 1, 1, 180deg);
	   -ms-transform: rotate3d(1, 1, 1, 180deg);
	   -o-transform: rotate3d(1, 1, 1, 180deg);
	   transform: rotate3d(1, 1, 1, 180deg);
    }
    100% { 
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
	   -ms-transform: rotate3d(1, 1, 1, 360deg);
	   -o-transform: rotate3d(1, 1, 1, 360deg);
	   transform: rotate3d(1, 1, 1, 360deg);
    }
}

@keyframes spinner{
    0% { 
       -webkit-transform: rotate3d(1, 1, 1, 0deg);
	   -ms-transform: rotate3d(1, 1, 1, 0deg);
	   -o-transform: rotate3d(1, 1, 1, 0deg);
	   transform: rotate3d(1, 1, 1, 0deg);
    }
    50% { 
       -webkit-transform: rotate3d(1, 1, 1, 180deg);
	   -ms-transform: rotate3d(1, 1, 1, 180deg);
	   -o-transform: rotate3d(1, 1, 1, 180deg);
	   transform: rotate3d(1, 1, 1, 180deg);
    }
    100% { 
        -webkit-transform: rotate3d(1, 1, 1, 360deg);
	   -ms-transform: rotate3d(1, 1, 1, 360deg);
	   -o-transform: rotate3d(1, 1, 1, 360deg);
	   transform: rotate3d(1, 1, 1, 360deg);
    }
}
